/*
 * @description: 添加采购单-选择采购门店
 * @author: songliubiao
 * @lastEditors: songliubiao
 * @Date: 2019-08-27 11:15:40
 * @LastEditTime: 2019-09-04 17:25:29
 * @Copyright: Copyright  2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */
 #PurchaseAdd
   .PurchaseAdd-head
      padding 20px 30px 40px 30px
      .ant-steps 
        .ant-steps-item-tail
              top -8px
   .PurchaseAdd-content
      border 1px solid rgba(229,229,229,1)
      .selectShop
        .selectShop-left
            height 630px
            border-right  1px solid rgba(229,229,229,1)
            padding-top 30px
            .title
              height 40px
              background #9EA7B4
              border-radius 0 50px 50px 0
              color white
              text-align center
              line-height 40px
              font-size 16px
              
        .selectShop-right
            .selectShop-right-content
              margin 30px 0 0 30px
              border-bottom  1px solid rgba(229,229,229,1)
              .desc
                margin 400px 0 30px 0
                span
                    color #19BC9C
            .selectShop-right-footer
                margin 30px 0
                text-align center
            .ant-btn 
                  height 45px
      .selectGoods
        .selectGoods-left
            padding-top 30px
            .title
              height 40px
              background #9EA7B4
              border-radius 0 50px 50px 0
              color white
              text-align center
              line-height 40px
              font-size 16px
              
        .selectGoods-right
            .selectGoods-right-content
              padding 30px 0 0 30px
              border-left  1px solid rgba(229,229,229,1)
              .desc
                margin 400px 0 30px 0
                span
                    color #19BC9C
              .selectGoods-right-content-table
                position relative
                margin-top 50px
                .btn 
                    position absolute
                    bottom 15px
                    left 0
            .selectGoods-right-footer
                margin 30px 0
                text-align center

            