/*
 * @description: 颜色变量文件
 * @author: huxianghe
 * @Date: 2019-05-31 09:19:45
 * @lastEditors: huxianghe
 * @LastEditTime: 2019-06-03 15:09:10
 * @copyright: Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */

// 主题色
$color-theme = #FFAD28

// 主题边框色
$color-border = #D9D9D9

// 常见文本色
$color-text = #333333
