/*
 * @description: antd-form 样式覆盖文件
 * @author: huxianghe
 * @github: git@code.aliyun.com:WOHAOYUN/thematrix.git
 * @lastEditors: huxianghe
 * @Date: 2019-06-05 11:14:10
 * @LastEditTime: 2019-06-05 11:29:22
 * @Copyright: Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */
@import '../mixins'

.ant-form
  &.ant-form-inline
    .ant-form-item
      margin-right 10px
  .ant-form-item
    &.m-none
      margin-left none
    &.m-20
      margin-right 20px
  .ant-form-item-label,
  .ant-form-item-control
    line-height 32px