/*
 * @description: antd-input 样式覆盖文件
 * @author: huxianghe
 * @github: git@code.aliyun.com:WOHAOYUN/thematrix.git
 * @lastEditors: huxianghe
 * @Date: 2019-06-04 15:29:50
 * @LastEditTime: 2019-07-01 18:40:11
 * @Copyright: Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */
@import '../mixins'

input
  &.ant-input
    width 200px
    height 32px
  &.unset
    width auto
  &.input-50
    width 50px
  &.input-90
    width 90px
  &.input-150
    width 150px
  &.input-180
    width 180px
   &.input-220
    width 220px

// 嵌套在 Form 表单中样式同步
.ant-form-item
  .input-100
    width 100px
  .input-110
    width 110px
  .input-120
    width 120px
  .input-130
    width 130px
  .input-140
    width 140px
  .input-150
    width 150px
  .input-160
    width 160px
  .input-180
    width 180px
  .input-200
    width 200px
  .input-220
    width 220px
  .input-100,
  .input-110,
  .input-120,
  .input-130,
  .input-140,
  .input-150,
  .input-160,
  .input-180,
  .input-200,
  .input-220
    input
      width 100%

input[type=number]
  -moz-appearance textfield
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance none
  margin 0
