/*
 * @description: message 全局样式覆盖
 * @author: huxianghe
 * @github: git@code.aliyun.com:WOHAOYUN/thematrix.git
 * @lastEditors: huxianghe
 * @Date: 2019-07-26 15:32:56
 * @LastEditTime: 2019-07-26 16:18:23
 * @Copyright: Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */
@import '../mixins'

.ant-message
  top 40%
  .ant-message-notice-content
    padding 20px 30px
    .ant-message-custom-content
      flex-align()
      span
        f14()

