/*
 * @description: antd-select 样式覆盖文件: 默认宽度为 200/192 rem，高度为 32/192 rem
 * @author: huxianghe
 * @github: git@code.aliyun.com:WOHAOYUN/thematrix.git
 * @lastEditors: huxianghe
 * @Date: 2019-06-04 15:29:50
 * @LastEditTime: 2019-07-02 10:35:19
 * @Copyright: Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */
@import '../mixins'

.ant-select
  width 200px !important
  &.select-unset
    width auto !important
  &.select-80
    width 80px !important
  &.select-90
    width 90px !important
  &.select-95
    width 95px !important
  &.select-105
    width 105px !important
  &.select-120
    width 120px !important
  &.select-150
    width 150px !important
  &.select-220
    width 220px !important
  .ant-select-selection
    height 32px
    .ant-select-selection__rendered
      line-height 32px
  .ant-select-selection--multiple
    min-height unset

/* select 下拉框内容自动撑开 */
.custom-select-width
  .ant-select-dropdown[style]
    // min-width 200px
    width auto !important
    .ant-select-dropdown-menu
      .ant-select-dropdown-menu-item
        width max-content

