/*
 * @description: 基础数据管理-模态样式
 * @author: maqian
 * @github: git@code.aliyun.com:WOHAOYUN/thematrix.git
 * @lastEditors: maqian
 * @Date: 2019-06-03 09:35:36
 * @LastEditTime: 2019-09-04 15:59:21
 * @Copyright: Copyright © 2019  Shanghai  Shangjia  Logistics  Co.,  Ltd.  All  rights  reserved.
 */

//  通过样式
#pass-modal-box
  padding 30px
 .pass-content-margin
   margin 50px 0

// 驳回
#return-modal-box
  height 100%
  padding 30px
  .ant-form-item
    width 100%
  .ant-form-item-control
    margin-top 5px
  .return-content-margin
    margin-top 30px

// 删除
#delete-modal-box
  padding 30px
  .delte-content-margin
    margin 40px 0

// 放弃
#fail-modal-box
  padding 30px
  .fail-content-margin
    margin 40px 0

// 提交
#sumbit-modal-box
  padding 30px
  .sumbit-content-margin
    margin 40px 0

// 草稿
#draf-modal-box
  padding 30px
  .draf-content-margin
    margin 40px 0

// 撤回
#recall-modal-box
  padding 30px
  .recall-content-margin
    margin 40px 0

// 黑名单冻结
#black-modal-box
  padding 30px
  .black-content-margin
    margin 40px 0

// common
.preration-btn-left
  width 0.8rem
  height 0.22rem
  background rgba(255,173,40,1)
  font-size 16px
  font-weight 500
  color:rgba(255,255,255,1)
  margin-right 0.25rem
  
.preration-btn-right
  width 0.8rem
  height 0.22rem
  background rgba(255,255,255,1)
  border-radius 5px
  color #FF9E00
  font-size 16px
  font-weight 500
  border 1px solid rgba(255,173,40,1) /*no*/

.ant-modal-body
  padding 0
  .modal_container,
  .return_container
    tc()
    f12()
    color #333
    padding 30px 55px
    .modal_text
      padding-top 40px
      padding-bottom 55px
  .return_container
    padding 0px
    text-align left
    .return_textarea
      padding 80px 30px
      span
        color #333
      .ant-input
        width 300px
        height 54px !important
        resize none
    .return_button_wrapper
      padding 0 55px 30px
