/*
 * @description: 修改账户样式文件
 * @author: huxianghe
 * @lastEditors: huxianghe
 * @Date: 2019-08-30 10:56:20
 * @LastEditTime: 2019-08-30 14:33:55
 * @Copyright: Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */
@import '~@/assets/style/mixins'

#update_account
  .ant-avatar
    display block
    margin 0 auto 20px
    .anticon
      svg
        font-size 32px
  .ant-form
    > .ant-row
        padding-bottom 20px
        padding-right 40px
        flex-f()
        justify-content center
        .ant-form-item-label
          width 100px
          tr()
        input
          width 300px
    .button_wrapper
      padding-left 60px
      button
        width 100px
        &:first-child
          margin-right 20px