/**
 * @author minjie
 * @createTime 2019/05/15
 * @description 版本的显示css
 * @copyright Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */

.cus-version-content
  position fixed
  font-size 12px;
  bottom 5px;
  right 5px;
  padding 10px

