/*
 * @description: 修改密码重置密码
 * @author: huxianghe
 * @lastEditors: huxianghe
 * @Date: 2019-08-30 15:25:52
 * @LastEditTime: 2019-09-03 15:05:49
 * @Copyright: Copyright © 2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */
@import '~@/assets/style/mixins'

#reset_password
  wh(100%)
  flex-align-center()
  flex-direction column
  .title
    margin 0
    margin 40px 0
    font-size 50px
    color #fff
    tc()
  .ant-form
    width: 480px;
    background:rgba(255,255,255,1);
    box-shadow:0px 0px 12px 0px rgba(0,0,0,0.15);
    border-radius: 20px;
    padding 24px 32px
    .form_item
      padding-bottom 20px
      flex-f()
      > div
          flex 1
          &.ant-form-item
            margin-right 0
          div,
          span,
          input
            width 100%
          input
            height 40px
          span
            &.ant-input-suffix
              width auto
      .verify_code
        width 110px
        color #19BC9C
        height 40px
        line-height 40px
        margin-left 10px
        cursor pointer
        &.sending
          color #DCDDDE
          cursor not-allowed
    .guide
      flex-align-between()
      padding-bottom 40px
      .desc
        color #333333
        font-size 24px
      .login
        color #19BC9C
        font-size 16px
    .button_wrapper
      margin 16px 0
      button
        width 100%
        height: 36px;
        line-height 36px
        border-radius:23px;