/*
 * @description:  采购管理首页
 * @author: songliubiao
 * @lastEditors: songliubiao
 * @Date: 2019-08-26 14:52:44
 * @LastEditTime: 2019-09-11 15:38:37
 * @Copyright: Copyright  2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */
#purchaseList
  .purchaseList-head
    .purchaseList-head-btn
      margin 20px 0

      .ant-btn
        margin-right 20px

    .purchaseList-head-serach
      border 1px solid rgba(229, 229, 229, 1)

      .title
        height 50px
        background rgba(243, 243, 243, 1)
        line-height 50px
        padding 0 20px

      .serach
        padding: 12px 0 0 15px;
        .ant-col
          height: 46px

  .purchaseList-content
    margin-top 30px
    border 1px solid rgba(229, 229, 229, 1)

    .title
      height 50px
      background rgba(243, 243, 243, 1)
      line-height 50px
      padding 0 20px

      .ant-btn
        margin-left 10px