/*
 * @description: 采购订单详情
 * @author: songliubiao
 * @lastEditors: songliubiao
 * @Date: 2019-08-27 11:15:40
 * @LastEditTime: 2019-09-03 15:28:26
 * @Copyright: Copyright  2019 Shanghai Yejia Digital Technology Co., Ltd. All rights reserved.
 */
 #PurchaseDetails
   .PurchaseDetails-head
      padding 20px 30px 40px 30px
      .ant-steps 
          .ant-steps-item-tail
              top -8px
      //       padding 0 30px
      //     .ant-steps-item-icon
      //       margin-right 30px
      //   .dian
      //     width 50px
      //     height 50px
      //     border-radius 50%
      //     border 2px solid #19BC9C
      //     text-align center
      //     line-height 50px
      //     color #19BC9C
   .PurchaseDetails-content
      border 1px solid rgba(229, 229, 229, 1)
      .PurchaseDetails-content-title
          height 50px
          background rgba(229, 229, 229, 1)
          font-size 15px
          line-height 50px
          padding-left 30px
          font-weight 700
          color #19BC9C
      .PurchaseDetails-content-box
          padding  0 30px 30px 30px
          .PurchaseDetails-content-box-item
              .desc
                  font-size 15px
                  margin 30px 0
                  font-weight 700
          .PurchaseDetails-content-box-btn
              margin-top 40px
              text-align center
              .ant-btn
                  height 38px
              .left
                  margin-right  200px
                  
          
      